<div class="c">
  <h1>Do you know...? Test your knowledge!</h1>
  <div class="quiz-card">
    <div>
      <% <p>question : <%= @question.content %> %>
    </div>
    <div class="quiz-card-answers">
      <div class="form-check">
        <input class="form-check-input" type="radio" value="yes" name="answer" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Yes, that can have an impact.
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="no" name="answer" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          No, It cannot have an impact.
        </label>
      </div>
        <button type="button" class="button-quiz">Submit</button>
    </div>
  </div>
  <div class="category-card">
    <div><p>For you</p></div>
    <div><p>Cat 2</p></div>
    <div><p>Cat 3</p></div>
    <div><p>Cat 4</p></div>
  </div>
  <div class="grid-container">
    <div class="container">
      <div class="row">
        <% @articles.each do |article| %>
            <div class="col-4 article-card"><img src= <%= article.image %> alt="back pain">
              <div class=card-title><%= link_to article.title, article_path(article) %></div>
              <div class="card-body"> read more about back pain and learn how to choose the right exercice for you. Start having good habits</div>
            </div>            <%#= link_to article.title, "/articles/show/#{@article.id}" %>
            <%#= article.title %>
          <% end %>
      </div>
    </div>
  </div>
</div>
