<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>

<h2><%= @article.title %></h2>
<p><%= @article.category %></p>
<p><%= @article.reading_time %></p>
<p><%= @article.content %></p>
