<%# <div class="counter">
      <h4>Standing time today</h4>

      <form name="form_main">
        <div>
          <span id="hour" data-timer-target="hour">00h</span>:<span id="minute" data-timer-target="minute">00m</span>:<span id="second" data-timer-target="second">00s</span>
        </div>

        <button data-timer-target="stand" data-action="click->timer#stand" class="counterbutton" type="button">stand</button>
        <button data-timer-target="pause" data-action="click->timer#pause" class="counterbutton" type="button">pause</button>
        <button data-timer-target="finish" data-action="click->timer#finish" class="counterbutton" type="button">finish session</button>
      </form>
    </div>
</div> %>
