<h1> hi <%= @user.first_name %> </h1>
<p>your current program is:<strong> <%= @user.program.name %> </strong></p>
<p>your daily goal is:<strong> <%= @user.program.standing_goal.to_i %> minutes</strong></p>
