.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-quiz {
  display: block;
  background-color: #00193C;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  border-right: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  width: 100px;
  margin: 10px auto;
}
.button-quiz:hover {
  background-color: #B1EA9A;
  color: #00193C;
  transition: 0.2s;
}

.button-read {
  display: block;
  background-color:  #00193C;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  border-right: none;
  padding-left: 20px;
  padding-right: 20px;
  width: 250px;
  margin: 10px auto;
}

.button-read:hover {
  background-color: #B1EA9A;
  color: #00193C;
  transition: 0.2s;
}

.closing-button {
  display: block;
  background-color: #00193C;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  border-right: none;
  padding-left: 20px;
  padding-right: 20px;
  width: 100px;
  margin: 10px auto;
}

.top-closing {
  display: block;
  background-color: rgb(201, 201, 201);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  border-right: none;
  padding-left: 20px;
  padding-right: 20px;
  width: 50px;
  margin-left: 100px;
}

.button-program {
  display: block;
  background-color: transparent;
  border: 1px solid #B1EA9A;
  width: 120px;
  height: 40px;
  border-radius: 3px;
}

.button-program-chosen {
  display: block;
  background-color: #B1EA9A;
  border: 1px solid #B1EA9A;
  width: 120px;
  height: 40px;
  border-radius: 3px;
}

.button-program:hover {
  background-color: #B1EA9A;
}
