.quiz-card-answers{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quiz-card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 1px;
  border-bottom: 10px;
  border-radius: 5px;
  color: #00193C;
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 40px;
  justify-content: space-between;
}


.category-card {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-bottom: 10px;
  border-radius: 5px;
  border-color: rgb(105, 105, 105);
  color: #00193C;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
}

.category-card p {
  justify-content: space-around;
  margin: 0;
}

.article-card {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 10px;
  border-color: rgb(85, 81, 81);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  color: #00193C;
  background-color: rgb(255, 255, 255);
  margin: 15px;
  padding-left: 5px;
  padding-right: 10px;
  width: 270px;
  height: auto;
}

.card-title {
  color: #00193C;
  text-align: center;
  padding-top: 10px;
}
.card-body {
  color: #00193C;
}
.image-article {
  width: 100%;
  padding-left: 15px;

}

.program-card{
  background-color: white;
  padding: 5px;
  border-bottom: 0.5px solid #ddd;
  margin: 10px;
  border-radius: 5px;
  width: 350px;
}

.program-content {
  margin: 10px;
  width: 350px;
}

.program-image {
  object-fit: cover;
  height: 130px;
  width: 130px;
}
