.c{
  margin: auto;
  margin-left: 250px;
  margin-top: 50px;
  width: 900px;
  color: #00193C;;
}

.videocard{
  display:flex;
  flex-wrap: wrap;

}
.eachvideo{
  padding-top: 10px;
  width: 270px;
  height: 250px;
  margin:10px;
  background-color: $ruekmaldarkblue;
  border-radius: 20px;
  color: white;
  padding-left:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.iframe{
  width:  350px;
}

.dash{
  display: flex;
  justify-content: space-between
}

.counter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: solid;
  border-radius: 5px;
  align-items: center;

}

.counterbutton{
  color: white;
  background-color: $ruekmaldarkblue;
  border-radius: 5px;
  padding: 10px;
  border-style: solid;
}
.counterbutton:hover{
  color: $ruekmaldarkblue;
  background-color: $ruekmallightgreen;
  border-radius: 5px;
  padding: 10px;
  border-style: solid;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 1000px;
}

.timerdigits{
  font-size: 30px;
  padding-left: 15px
}

.digits{
  margin-bottom: 18px;
}
