.application-container {
  width: 1000px;
  margin: auto;
  padding-left: 50px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;

}

.answer-container {
  padding-right: 40px;

}
