.c{
  margin: auto;
  margin-left: 150px;
  margin-top: 30px;
  width: 1000px
}

.videocard{
  display:flex;

}
.eachvideo{
  padding-top: 10px;
  width: 270px;
  height: 300px;
  margin:10px;
  background-color: $ruekmaldarkblue;
  border-radius: 20px;
  color: white;
  padding-left:10px;
}
