.tab {
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  display:flex;
  margin-top: 80px;
  margin-bottom: 30px
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 14px 16px;
  transition: 0.3s;
  width: 200px
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: $ruekmallightgreen;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: $ruekmaldarkblue;
  color: white
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  justify-content:space-between;
}
