.navlist{
  list-style: none;
}

.navlistitem{
  margin-top: 50px;
}

.navlistitem .fa-solid {
  color: white;
  font-size: 24px;
}

.navlistitem :hover {
  color: $ruekmaldarkblue;
}

.wrapper .sidebar{
  background: $ruekmaldarkblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  color: black;
  font-size: 16px;
  position: relative;
}



.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    background: #B1EA9A;
    border-top-left-radius: 70px 70px;
    border-bottom-left-radius: 70px 70px;
}


.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.n{
  display:flex;
  justify-content: center;
  margin-top: 10px
}
