.scoreboard .staffscore{
  background-color:$ruekmallightgreen;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  width: 500px;
  display:flex;
  justify-content: space-between;

}

.staffscore:before {
  counter-increment: section;
  content: counter(section) ".";
  position: absolute;
  margin-left: -60px;
}
.scoreboard{
  display:flex;
  justify-content: space-between;
  padding-top:30px;
  align-items: center
}


#workplacename{
transform: rotate(-90deg);
font-size: 25px;
}

.programcard{
  background-color: white;
  padding:15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 100px;
}

.dash{
  border-bottom-style: solid;
  border-bottom-color: $ruekmallightgreen;
  padding-bottom: 0px;
  height: 250px
}

.refresh {
  background-color: $ruekmaldarkblue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  padding: 10px;
  border-color: $ruekmallightgreen;
  border-style: solid;

}

.refresh:hover {
  cursor: pointer;
  color: white
}
