<h1>exercises</h1>

<ul>
  <% @exercises.each do |exercise| %>
<iframe width="648" height="365" src=<%= exercise.video_url %> title="4 BEST LOWER BACK STRETCHES FOR PAIN" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
  <% end %>
</ul>
