<div class="c">


    <div class="videocard">
      <% @exercises.each do |exercise| %>
        <div class="eachvideo">
          <div class="iframe">
            <iframe width="250" height="135" src=<%= exercise.video_url %> title="4 BEST LOWER BACK STRETCHES FOR PAIN" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
         </div>
         <div>
          <p> length: <%= exercise.length %>  minutes</p>
          <p> <%= exercise.category %> </p>
         </div>
        </div>
      <% end %>
    </div>

</div>
